{{>layout/header}}
<!-- Page Header -->
 <header class="masthead" style="background-color:blue">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="page-heading">
           <h1>About</h1>
           <span class="subheading">이 사이트에 대하여</span>
         </div>
       </div>
     </div>
   </div>
 </header>

<!-- Main Content -->
<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">
       <p>이 사이트는 CTBroze의 웹프로그래밍 실습용으로 제작된 사이트입니다.</p>
       <p>모든 페이지는 Springboot2와 mustache템플릿으로 제작되었습니다.</p>
       <p>디자인 템플릿은 StartBootStrap의 CleanBlog를 기반으로 만들어졌습니다.</p>
     </div>
   </div>
</div>

<hr>
{{>layout/footer}}