{{>layout/header}}
<!-- Page Header -->
<header class="masthead" style="background-color:Black">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>CTBroze Memory Storge</h1>
                    <span class="subheading">CTBroze의 개인블로그</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--게시글 출력-->
    <div class="col-md-12">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{#posts}}
                    <div class="post-preview">
                        <a href="/posts/read/{{id}}">
                            <h2 class="post-title">
                                {{title}}
                            </h2>
                        </a>
                        <p class="post-meta">Posted by
                            {{id}}
                            on {{modifiedDate}}</p>
                    </div>
                    <hr>
                    {{/posts}}
                </div>
            </div>
        </div>
        <hr>
{{>layout/footer}}