{{>layout/header}}
<!--Header-->
<header class="masthead" style="background-color:#1E90FF">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="post-heading">
           <h1>{{post.title}}</h1>
           <span class="meta">Posted by
             {{post.author}}</span>
         </div>
       </div>
     </div>
   </div>
 </header>

<!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{post.content}}
        </div>
      </div>
    </div>
  </article>
<!-- Button Set-->
{{#userName}}
<div>
    <a type="button" class="btn btn-warning" href="/posts/update/{{id}}">수정</a>
</div>
{{/userName}}

  <hr>
{{>layout/footer}}